doctype

html(lang='en')
  head
    
    - var title = "Angela Yumol Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/13.png')
  
    //https://www.youtube.com/embed/pv-bZ-PFog0?controls=0&rel=0&playsinline=1&enablejsapi=1&origin=https%3A%2F%2Fawakenedhealthacademy.com&widgetid=1
    
    .right__menu.header__home
      a.close(href='javascript:;')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
    
    header.header__home.none
      .container
        .row
          .col.m12.s12.l12.xl12
            a.menu(href='javascript:;')
              img.menu__img(src='img/menu.svg', alt='menu')
              

            a.logo(href='javascript:;') 
              img.logo__img(src='img/logo-text.svg', alt='logo-text')
              
            a.link__search(href='javascript:;') 
              img.search__img(src='img/search.svg', alt='search')
              
            .search
              form(method='POST', action='javascript:void(null);')
                // Hidden Required Fields

                .form_input
                  span.field
                    input.email(type='text', name='search', required='', value='', placeholder='search...')



                button.search__submit(type='submit', name='send')
                
                
    header.header__home__account
      .container
        .row
          .col.m12.s12.l12.xl12
            a.menu(href='javascript:;')
              img.menu__img(src='img/menu_smoll.svg', alt='menu')
          
            a.logo(href='javascript:;')
              img.logo__img(src='img/logo_w.svg', alt='logo_w')
              
            ul.menu__
              li
                a(href='javascript:;') HOME
              li
                a(href='javascript:;') EPISODES
              li
                a(href='javascript:;') CATEGORIES
              li
                a(href='javascript:;') CONTACTS

            .box__account
              a.link__search(href='javascript:;') 
                img.search__img(src='img/search_w.svg', alt='search')
              a.bell(href='javascript:;') 
                img.bell__img(src='img/bell_w.svg', alt='search')
              a.account(href='javascript:;') ACCOUNT
                
              

          
    section.section__.home__1 
      video#video( preload='' autoplay='' muted='' loop='')
        source(src='video/background.mp4' type='video/mp4')
        source(src='video/background.webp' type='video/webp') 
        
      .container
        .row
          .col.m12.s12.l12.xl12
            h1 AWAKENED HEALTH <br>ACADEMY
            p.slag 
              strong Watch anywhere. Cancel anytime.
              | Ready to watch? Enter your email to create or restart your membership
          .col.m12.s12.l12.xl12
            form(method='POST', action='javascript:void(null);')
              // Hidden Required Fields
              .form__row
                .form_input
                  span.field
                    input.email(type='email', name='email', required='', value='', placeholder='Email address...')
   

              .form__row
                button.purl(type='submit', name='send') Get started
 
          
    section.section__.home__2
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title WELCOME TO OUR AWAKENED <br>HEALTH ACADEMY
            
          .col.m6.s12.l6.xl6
            ul.list
              li
                h3
                 a(href='javascript:;') Sumit Home
                p Lorem ipsum dolor sit amet dolore
              li
                h3
                  a(href='javascript:;') Masterclass Sessions 
                p Lorem ipsum dolor sit amet dolore
            
              li
                h3
                  a(href='javascript:;') Recently Added 
                p Lorem ipsum dolor sit amet dolore
          .col.m6.s12.l6.xl6
            ul.list
              li
                h3 
                  a(href='javascript:;') Interviews 
                p Lorem ipsum dolor sit amet dolore
              li
                h3 
                  a(href='javascript:;') RTT
                p Lorem ipsum dolor sit amet dolore
            
              li
                h3
                  a(href='javascript:;') Human Longevity 
                p Lorem ipsum dolor sit amet dolore
            

          .col.m12.s12.l12.xl12
            .box__img
              img.images(src='img/home__2_img.svg', alt='home__2_img')
              
              
        .row
          .col.m12.s12.l12.xl12
            h2.title JOIN US NOW FOR EXCLUSIVE CONTENT
            p Welcome to our new platform that provides engaging, educational and action-based content, <br>to help you build new healthy habits, and to transform your life and thrive every day
            a.purl__border(href='javascript:;') SUBSCRIBE NOW
              
              
 
          
    section.section__.home__3
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Recently Added
            
      .container
        .box__

          .slider__home__3
            div
              .box__img.n__1.n__2.n__3
                .box__conteiner
                  img.images(src='img/home__3__slider__1.png', alt='home__3__slider__1')
                a(href='#', tabindex='0')
                  p.slag Sample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample Vimeo
                  
            div
              .box__img.n__1.n__2.n__3
                .box__conteiner
                  img.images(src='https://awakendhltstg.wpengine.com/wp-content/uploads/2022/03/new-rtt-01.png', alt='home__3__slider__1')
                a(href='#', tabindex='0')
                  p.slag Sample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample Vimeo
                  
            div
              .box__img.n__1.n__2.n__3
                .box__conteiner
                  img.images(src='img/home__3__slider__1.png', alt='home__3__slider__1')
                a(href='#', tabindex='0')
                  p.slag Sample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample Vimeo
                  
            div
              .box__img.n__1.n__2.n__3
                .box__conteiner
                  img.images(src='img/home__3__slider__1.png', alt='home__3__slider__1')
                  
                a(href='#', tabindex='0')
                  p.slag Sample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample Vimeo
            div
              .box__img.n__1.n__2.n__3
                .box__conteiner
                  img.images(src='img/home__3__slider__1.png', alt='home__3__slider__1')
                a(href='#', tabindex='0')
                  p.slag Sample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample Vimeo
                  
            div
              .box__img.n__1.n__2.n__3
                .box__conteiner
                  img.images(src='img/home__3__slider__1.png', alt='home__3__slider__1')
                a(href='#', tabindex='0')
                  p.slag Sample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample Vimeo
                  
            div
              .box__img.n__1.n__2.n__3
                .box__conteiner
                  img.images(src='img/home__3__slider__1.png', alt='home__3__slider__1')
                a(href='#', tabindex='0')
                  p.slag Sample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample Vimeo
            div
              .box__img.n__1.n__2.n__3
                .box__conteiner
                  img.images(src='img/home__3__slider__1.png', alt='home__3__slider__1')
                a(href='#', tabindex='0')
                  p.slag Sample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample VimeoSample Vimeo
                  

                
        .slid__arrow
          a.prev(href='javascript:;')
          a.next(href='javascript:;')

 
              
              
              
    section.section__.home__4
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Masterclass Sessions
            

      .box__
        .slid__arrow
          a.prev(href='javascript:;')
          a.next(href='javascript:;')
                
        .slid__content  
          .slider__home__4
            div
              .box__content
                a(href='javascript:;')
                  img.images(src='img/home__4__slider__1.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*
            div
              .box__content
                a(href='javascript:;')
                  img.images(src='img/home__4__slider__1.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*
            div
              .box__content
                a(href='javascript:;')
                  img.images(src='img/home__4__slider__1.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*
            div
              .box__content
                a(href='javascript:;')
                  img.images(src='img/home__4__slider__1.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*
            div
              .box__content
                a(href='javascript:;')
                  img.images(src='img/home__4__slider__1.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*
 

 
          
    section.section__.home__5
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Interviews
            

      .user__slider
        div
          ul.list
            li
              p.title
                span Next week special guest
              .box__img
                img.images(src='https://awakendhltstg.wpengine.com/wp-content/uploads/2022/04/Harrison_Ford_by_Gage_Skidmore_31-scaled.jpg', alt='images_1')

            li
              .box__content
                h4 DR. KELLY BROGAN
                p.desc Stepping out of struggle into radical recovery
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinciduntut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exercitation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                a.purl__smoll(href='javascript:;') CALL TO ACTION

              .box__slide
                .slid__arrow
                  a.prev(href='javascript:;')
                  a.next(href='javascript:;')

                .smoll_slider
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')


              p.last Previous Episodes
        div
          ul.list
            li
              p.title
                span Next week special guest
              .box__img
                img.images(src='https://awakendhltstg.wpengine.com/wp-content/uploads/2022/04/Harrison_Ford_by_Gage_Skidmore_31-scaled.jpg', alt='images_1')

            li
              .box__content
                h4 DR. KELLY BROGAN
                p.desc Stepping out of struggle into radical recovery
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinciduntut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exercitation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                a.purl__smoll(href='javascript:;') CALL TO ACTION

              .box__slide
                .slid__arrow
                  a.prev(href='javascript:;')
                  a.next(href='javascript:;')

                .smoll_slider
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')


              p.last Previous Episodes
        div
          ul.list
            li
              p.title
                span Next week special guest
              .box__img
                img.images(src='https://awakendhltstg.wpengine.com/wp-content/uploads/2022/04/Harrison_Ford_by_Gage_Skidmore_31-scaled.jpg', alt='images_1')

            li
              .box__content
                h4 DR. KELLY BROGAN
                p.desc Stepping out of struggle into radical recovery
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinciduntut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exercitation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                a.purl__smoll(href='javascript:;') CALL TO ACTION

              .box__slide
                .slid__arrow
                  a.prev(href='javascript:;')
                  a.next(href='javascript:;')

                .smoll_slider
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')


              p.last Previous Episodes
        div
          ul.list
            li
              p.title
                span Next week special guest
              .box__img
                img.images(src='https://awakendhltstg.wpengine.com/wp-content/uploads/2022/04/Harrison_Ford_by_Gage_Skidmore_31-scaled.jpg', alt='images_1')

            li
              .box__content
                h4 DR. KELLY BROGAN
                p.desc Stepping out of struggle into radical recovery
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinciduntut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exercitation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                a.purl__smoll(href='javascript:;') CALL TO ACTION

              .box__slide
                .slid__arrow
                  a.prev(href='javascript:;')
                  a.next(href='javascript:;')

                .smoll_slider
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')


              p.last Previous Episodes
        div
          ul.list
            li
              p.title
                span Next week special guest
              .box__img
                img.images(src='https://awakendhltstg.wpengine.com/wp-content/uploads/2022/04/Harrison_Ford_by_Gage_Skidmore_31-scaled.jpg', alt='images_1')

            li
              .box__content
                h4 DR. KELLY BROGAN
                p.desc Stepping out of struggle into radical recovery
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinciduntut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exercitation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                a.purl__smoll(href='javascript:;') CALL TO ACTION

              .box__slide
                .slid__arrow
                  a.prev(href='javascript:;')
                  a.next(href='javascript:;')

                .smoll_slider
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')
                  div
                    .box__
                      img.images(src='img/home__5_slid.svg', alt='home__5_slid')


              p.last Previous Episodes


    section.section__.home__6
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Summit Home
            

      .box__
        .slid__arrow
          a.prev(href='javascript:;')
          a.next(href='javascript:;')

        .slid__content  
          .slider__home__6
            div
              .box__content
                .box__
                  img.images(src='img/home__6_slid.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*
            div
              .box__content
                .box__
                  img.images(src='img/home__6_slid.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*
            div
              .box__content
                .box__
                  img.images(src='img/home__6_slid.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*
            div
              .box__content
                .box__
                  img.images(src='img/home__6_slid.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*
            div
              .box__content
                .box__
                  img.images(src='img/home__6_slid.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*
            div
              .box__content
                .box__
                  img.images(src='img/home__6_slid.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*

 




    section.section__.home__7
      .container
        .row
          .col.m12.s12.l12.xl5
            .box__img
              img.images(src='img/home__7_img.png', alt='home__7_img')
              a.purl__smoll(href='javascript:;') CALL TO ACTION

            
          .col.m12.s12.l12.xl7
            h2.title Watch Anywhere, Anytime and on Any Device!
            p.desc Get exclusive content now and awaken the healer within you!
            a.purl__smoll(href='javascript:;') CALL TO ACTION
            



    section.section__.home__8
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title RTT
            
      .container
        .row
          .col.m12.s12.l12.xl10.offset-xl1
            .box__
              .slid__arrow
                a.prev(href='javascript:;')
                a.next(href='javascript:;')
                
              .slid__content  
                .slider__home__8  
                  div
                    .box__content
                      .box__
                        a.day(href='javascript:;') EPISODE 1
                        img.images(src='img/home__8_img.png', alt='home__3__slider__1')
                      .hr
                      h3
                        a(href='javascript:;') Title of Video
                      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinciduntut laoreet dolore magna aliquam erat volutpat.

                  div
                    .box__content
                      .box__
                        a.day(href='javascript:;') EPISODE 1
                        img.images(src='img/home__8_img.png', alt='home__3__slider__1')
                      .hr
                      h3
                        a(href='javascript:;') Title of Video
                      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinciduntut laoreet dolore magna aliquam erat volutpat.


                  div
                    .box__content
                      .box__
                        a.day(href='javascript:;') EPISODE 1
                        img.images(src='img/home__8_img.png', alt='home__3__slider__1')
                      .hr
                      h3
                        a(href='javascript:;') Title of Video
                      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinciduntut laoreet dolore magna aliquam erat volutpat.


                  div
                    .box__content
                      .box__
                        a.day(href='javascript:;') EPISODE 1
                        img.images(src='img/home__8_img.png', alt='home__3__slider__1')
                      .hr
                      h3
                        a(href='javascript:;') Title of Video
                      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinciduntut laoreet dolore magna aliquam erat volutpat.


                  div
                    .box__content
                      .box__
                        a.day(href='javascript:;') EPISODE 1
                        img.images(src='img/home__8_img.png', alt='home__3__slider__1')
                      .hr
                      h3
                        a(href='javascript:;') Title of Video
                      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinciduntut laoreet dolore magna aliquam erat volutpat.


                  div
                    .box__content
                      .box__
                        a.day(href='javascript:;') EPISODE 1
                        img.images(src='img/home__8_img.png', alt='home__3__slider__1')
                      .hr
                      h3
                        a(href='javascript:;') Title of Video
                      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinciduntut laoreet dolore magna aliquam erat volutpat.






    section.section__.home__9
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Human Longevity


      .box__
        .slid__arrow
          a.prev(href='javascript:;')
          a.next(href='javascript:;')

        .slid__content
          .slider__home__9
            div
              .box__content
                .box__

                  img.images(src='img/home__9_img.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*
            div
              .box__content
                .box__

                  img.images(src='img/home__9_img.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*
                
            div
              .box__content
                .box__

                  img.images(src='img/home__9_img.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*
                
            div
              .box__content
                .box__

                  img.images(src='img/home__9_img.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*
                
            div
              .box__content
                .box__

                  img.images(src='img/home__9_img.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*

                
            div
              .box__content
                .box__

                  img.images(src='img/home__9_img.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*

                
            div
              .box__content
                .box__

                  img.images(src='img/home__9_img.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*

                
            div
              .box__content
                .box__

                  img.images(src='img/home__9_img.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*

                
            div
              .box__content
                .box__

                  img.images(src='img/home__9_img.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*

                
            div
              .box__content
                .box__

                  img.images(src='img/home__9_img.png', alt='home__3__slider__1')
                .hr
                h3
                  a(href='javascript:;') Title of Video
                p.catalog Category
                p Episode N*

   


    section.section__.home__10
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Frequently asked questions
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. 
        .row
          .col.m12.s12.l12.xl6
            ul.list
              li
                a.plus(href='javascript:;') Lorem ipsum dolor sit amet ?
                .content
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                
              li
                a.plus(href='javascript:;') Lorem ipsum dolor sit amet ?
                .content
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                
              li
                a.plus(href='javascript:;') Lorem ipsum dolor sit amet ?
                .content
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                
              li
                a.plus(href='javascript:;') Lorem ipsum dolor sit amet ?
                .content
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                
          .col.m12.s12.l12.xl6
            ul.list
              li
                a.plus(href='javascript:;') Lorem ipsum dolor sit amet ?
                .content
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                
              li
                a.plus(href='javascript:;') Lorem ipsum dolor sit amet ?
                .content
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                
              li
                a.plus(href='javascript:;') Lorem ipsum dolor sit amet ?
                .content
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                
              li
                a.plus(href='javascript:;') Lorem ipsum dolor sit amet ?
                .content
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                
              
                
   

    footer
      .container
        .row
          .col.m12.s12.l4.xl4
            h3 OUR MISSION
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam consequat.

              
          .col.m12.s12.l3.xl2.offset-l0.offset-xl4
            h3 CONTACT
            a.mail(href='javascript:;') contact@awakenedcollective.com
            a.site(href='javascript:;') www.awakenedcollective.com

          .col.m12.s12.l3.xl2


            h3 FOLLOW US
            ul.soseal
              li
                a(href='javascript:;')
                  img.footer(src='img/fa.svg', alt='fa')
              li
                a(href='javascript:;')
                  img.footer(src='img/in.svg', alt='fa')
              li
                a(href='javascript:;')
                  img.footer(src='img/yo.svg', alt='fa')
              li
                a(href='javascript:;')
                  img.footer(src='img/tv.svg', alt='fa')





    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      console.log('index.pug');

    




