doctype

html(lang='en')
  head
    
    - var title = "Angela Yumol Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/41.png')
  
    //https://www.youtube.com/embed/pv-bZ-PFog0?controls=0&rel=0&playsinline=1&enablejsapi=1&origin=https%3A%2F%2Fawakenedhealthacademy.com&widgetid=1



          
    section.section__.login__
      .row
        .col
          .login__top
            a.logo(href='/')
              img(src='img/aha_logo.svg', alt='Awakened Health Academy Logo')
            h1.title CONTINUE YOUR JOURNEY
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
            
            img.mark(src='img/footer_login.svg', alt='Awakened Health Academy Logo', width="29") 

        .col
          .box__right
            h2 Hi, Welcome Back!
            p.sub Login
            p Forgot your password? 
              a(href='#') Reset here
            p Don&apos;t have account? 
              a(href='/custom-signup') Sign up
            hr
            
          form.signup-form(method='post', action='')
            input(type='hidden', value='login', name='task')
            .signup-form__row
              .signup-form__col
                p.field-label Email Address:
                input#eadd.field-input(type='email', name='eadd', placeholder='Example', required='')
              
            .signup-form__row
              .signup-form__col
                p.field-label Password:
                input#pword.field-input(type='password', name='pword', placeholder='Example', required='')
                a.pass__(href='#') 
                
            .signup-form__col
            
              .box__input
                input#tos(type='checkbox', name='tos', value='')
                
                
                p I agree to platform&rsquo;s 
                  a(href='#') Terms of Service
                  |  and 
                  a(href='#')
                    | Privacy
                    | Policy.
                
            button.purl__smoll(type='submit', value='login') Login
            
            

            






    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      console.log('index.pug');

    




