doctype

html(lang='en')
  head
    
    - var title = "Angela Yumol Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/222.png')
  
    //https://www.youtube.com/embed/pv-bZ-PFog0?controls=0&rel=0&playsinline=1&enablejsapi=1&origin=https%3A%2F%2Fawakenedhealthacademy.com&widgetid=1
    
    .right__menu.header__single
      a.close(href='javascript:;')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
    
    header.header__single
      .container
        .row
          .col.m12.s12.l12.xl12
            a.menu(href='javascript:;')
              img.menu__img(src='img/menu_smoll.svg', alt='menu')
          
            a.logo(href='javascript:;')
              img.logo__img(src='img/logo_w.svg', alt='logo_w')
            

              

            ul.menu__
              li
                a(href='javascript:;') HOME
              li
                a(href='javascript:;') EPISODES
              li
                a(href='javascript:;') CATEGORIES
              li
                a(href='javascript:;') CONTACTS

            .box__account
              a.link__search(href='javascript:;') 
                img.search__img(src='img/search_w.svg', alt='search')
              a.bell(href='javascript:;') 
                img.bell__img(src='img/bell_w.svg', alt='search')
              a.account(href='javascript:;') ACCOUNT

              
              
               

          
    section.section__.single__1
      video#video(preload='', autoplay='', muted='', loop='')
        // if under__the
        source(src='https://awakendhltstg.wpengine.com/wp-content/uploads/2022/03/background.mp4', type='video/mp4')

      img.background(src='img/single__1_back.png', alt='single__1_back')
      .container
        .row
          .col.m12.s12.l6.xl6
            .episode <span>EPISODE 1:</span> TITLE OF THE EPISODE
            h2.title MASTERCLASS SESSION
            p.slag with DR. JOHN DOE
            p.disc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            
            
            .box__
              a.purl__play(data-fancybox='',  href="//www.youtube.com/watch?v=2mDPgVWG_Y8") Play Now
              a.plus(href='javascript:;')
                img(src='img/plus-yaloy.png', alt='plus')
                            
               

    section.section__.single__2
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Next Episodes
            
      .container
        .row
          .col.m4.s6.l2.xl2
            .box__play.active
              a.play(href='javascript:;')
                img.footer(src='img/slide__.png', alt='slide__')
                span Play Now
              h3.name Title of Video
              p.cat Category
              p.epsiode Epsiode N*

     
          .col.m4.s6.l2.xl2
            .box__play
              a.play(href='javascript:;')
                img.footer(src='img/slide__.png', alt='slide__')
                span Play Now
              h3.name Title of Video
              p.cat Category
              p.epsiode Epsiode N*

     
          .col.m4.s6.l2.xl2
            .box__play
              a.play(href='javascript:;')
                img.footer(src='img/slide__.png', alt='slide__')
                span Play Now
              h3.name Title of Video
              p.cat Category
              p.epsiode Epsiode N*

          .col.m4.s6.l2.xl2
            .box__play
              a.play(href='javascript:;')
                img.footer(src='img/slide__.png', alt='slide__')
                span Play Now
              h3.name Title of Video
              p.cat Category
              p.epsiode Epsiode N*

     
          .col.m4.s6.l2.xl2
            .box__play
              a.play(href='javascript:;')
                img.footer(src='img/slide__.png', alt='slide__')
                span Play Now
              h3.name Title of Video
              p.cat Category
              p.epsiode Epsiode N*

     
          .col.m4.s6.l2.xl2
            .box__play
              a.play(href='javascript:;')
                img.footer(src='img/slide__.png', alt='slide__')
                span Play Now
              h3.name Title of Video
              p.cat Category
              p.epsiode Epsiode N*


     
          .col.m4.s6.l2.xl2
            .box__play
              a.play(href='javascript:;')
                img.footer(src='img/slide__.png', alt='slide__')
                span Play Now
              h3.name Title of Video
              p.cat Category
              p.epsiode Epsiode N*


     
          .col.m4.s6.l2.xl2
            .box__play
              a.play(href='javascript:;')
                img.footer(src='img/slide__.png', alt='slide__')
                span Play Now
              h3.name Title of Video
              p.cat Category
              p.epsiode Epsiode N*


     
          .col.m4.s6.l2.xl2
            .box__play
              a.play(href='javascript:;')
                img.footer(src='img/slide__.png', alt='slide__')
                span Play Now
              h3.name Title of Video
              p.cat Category
              p.epsiode Epsiode N*

     

               

          
    section.section__.single__3
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Featured Guest of the Episode
      .container
        .row
          .col.m12.s12.l12.xl12
            .box__contein
              .box__img
                img.images(src='img/user__info.png', alt='user__info')
              .box__content
                h3.name DR. JOE DOE
                p.profile Profession / Speciality

                .description
                  h5 Guest Description:
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

                  h5 Episode Description:
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

                         

          
    section.section__.single__4
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Masterclass Series Name 1
        .row
          .col.m12.s12.l12.xl12
            .slid__arrow
              a.prev__1(href='javascript:;')
              a.next__1(href='javascript:;')
              
              
            .single__slider__1
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  div.block
                    .link
                      a(href='javascript:;')
                        img.images(src='img/star-icon.svg', alt='star')
                      a(href='javascript:;')
                        img.images(src='img/like-icon.svg', alt='like')
                    h3
                      a(href='javascript:;') Title of Video
                    p.catalog Epsiode N*
                    p Description
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  div.block
                    h3
                      a(href='javascript:;') Title of Video
                    p.catalog Epsiode N*
                    p Description
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  div.block
                    h3
                      a(href='javascript:;') Title of Video
                    p.catalog Epsiode N*
                    p Description
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  div.block
                    h3
                      a(href='javascript:;') Title of Video
                    p.catalog Epsiode N*
                    p Description
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  div.block
                    h3
                      a(href='javascript:;') Title of Video
                    p.catalog Epsiode N*
                    p Description
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  div.block
                    h3
                      a(href='javascript:;') Title of Video
                    p.catalog Epsiode N*
                    p Description
              
              
          
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Masterclass Series Name 1
        .row
          .col.m12.s12.l12.xl12
            .slid__arrow
              a.prev__2(href='javascript:;')
              a.next__2(href='javascript:;')
          
            .single__slider__2
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  h3
                    a(href='javascript:;') Title of Video
                  p.catalog Epsiode N*
                  p Description
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  h3
                    a(href='javascript:;') Title of Video
                  p.catalog Epsiode N*
                  p Description
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  h3
                    a(href='javascript:;') Title of Video
                  p.catalog Epsiode N*
                  p Description
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  h3
                    a(href='javascript:;') Title of Video
                  p.catalog Epsiode N*
                  p Description
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  h3
                    a(href='javascript:;') Title of Video
                  p.catalog Epsiode N*
                  p Description
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  h3
                    a(href='javascript:;') Title of Video
                  p.catalog Epsiode N*
                  p Description
              
              
          
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Masterclass Series Name 1
        .row
          .col.m12.s12.l12.xl12
            .slid__arrow
              a.prev__3(href='javascript:;')
              a.next__3(href='javascript:;')
              
            .single__slider__3
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  h3
                    a(href='javascript:;') Title of Video
                  p.catalog Epsiode N*
                  p Description
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  h3
                    a(href='javascript:;') Title of Video
                  p.catalog Epsiode N*
                  p Description
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  h3
                    a(href='javascript:;') Title of Video
                  p.catalog Epsiode N*
                  p Description
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  h3
                    a(href='javascript:;') Title of Video
                  p.catalog Epsiode N*
                  p Description
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  h3
                    a(href='javascript:;') Title of Video
                  p.catalog Epsiode N*
                  p Description
              div
                .box__content
                  .box__
                    .images__
                      img.images(src='img/slider__user.png', alt='slider__user')
                    .info__
                      img.logo__slider(src='img/logo__smoll.svg', alt='logo__smoll')
                      h4.cat MASTERCLASS
                      p.title with Guy Ferdman
                      p.info Awareness Practices to increase flow in the body
                      a.episode(href='javascript:;') EPISODE 1
        
                  .hr
                  h3
                    a(href='javascript:;') Title of Video
                  p.catalog Epsiode N*
                  p Description
              
              
          
    a.bot_modal(data-fancybox='', data-src='#modal-2', href='javascript:;') Open Modal 2
    // //// MODAL ////
    #modal-2.modal__style.modal(style='display: none;')
      .modal__
        .box__img
          img.images(src='img/modal__img.png', alt='modal__img')
        .content__
          h3 GET THIS BOOK FOR FREE NOW!
      
          p Enter your email below to get the freebie

          form(method='POST', action='javascript:void(null);')
            // Hidden Required Fields

            .form_input
              label(for="checkbox") Yes, I’d like to recieve news and special ofers.
              span.field
                input.name(type='checkbox', name='checkbox', required='', value='', placeholder='Name')

            .form_input
              span.field
                 input.mail(type='email', name='email', required='', value='', placeholder='Email address...')

            button.purl__border(type='submit', name='send') SUBSCRIBE NOW
          a.no_thx(href='javascript:;', data-fancybox-close) NO THANKS
   

    footer
      .container
        .row
          .col.m12.s12.l4.xl4
            h3 OUR MISSION
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam consequat.

              
          .col.m12.s12.l3.xl2.offset-l2.offset-xl4
            h3 CONTACT
            a.mail(href='javascript:;') contact@awakenedcollective.com
            a.site(href='javascript:;') www.awakenedcollective.com

          .col.m12.s12.l3.xl2


            h3 FOLLOW US
            ul.soseal
              li
                a(href='javascript:;')
                  img.footer(src='img/fa.svg', alt='fa')
              li
                a(href='javascript:;')
                  img.footer(src='img/in.svg', alt='fa')
              li
                a(href='javascript:;')
                  img.footer(src='img/yo.svg', alt='fa')
              li
                a(href='javascript:;')
                  img.footer(src='img/tv.svg', alt='fa')





    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      console.log('index.pug');

    




